/* 
    Document   : cookiebar.css
    Created on : 25-okt-2012, 12:07:43
    Author     : erlend
    Description:
        Purpose of the stylesheet follows.
*/

#cookiebar {
  position: fixed;
  width: 100%;
  background: url('cookiebar.png');
  left: 0;
  top: 0;
  z-index: 1000;
}
.admin-toolbar #cookiebar{
  top: 20px;
}

#cookiebar.hidden {
  display: none;
}

#cookiebar .wrapper {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
  line-height: 2em;
  height: 2em;
}

#cookiebar:hover .wrapper {
  height: auto;
  padding-bottom: 1em;
}

#cookiebar .content {
  color: #FFF;
}

#cb-accept,
#cb-deny {
  color: #000;
  font-size: 100%;
  background: lightgreen;
  padding: 0 5px;
  border: 1px solid white;
  margin-right: 1em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#cb-deny {
  color: #FFF;
  background: #093D65;
}